controller:
  ingressClassResource:
    enabled: true
  kind: DaemonSet
  daemonset:
    useHostPort: true
  service:
    type: ClusterIP
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
  tolerations:
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
      effect: NoSchedule
