apiVersion: apps/v1
kind: Deployment
metadata:
  name: nzbget
  namespace: nzbget
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/instance: nzbget
      app.kubernetes.io/name: nzbget
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: nzbget
        app.kubernetes.io/name: nzbget
    spec:
      containers:
      - name: nzbget
        image: lscr.io/linuxserver/nzbget:latest
        imagePullPolicy: Always
        env:
        - name: S6_READ_ONLY_ROOT
          value: "1"
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        resources:
          requests:
            cpu: 100m
            memory: 4Gi
          limits:
            cpu: 4000m
            memory: 6Gi
        ports:
        - containerPort: 6789
          name: http
          protocol: TCP
        volumeMounts:
        - mountPath: /intermediate
          name: intermediate
        - mountPath: /downloads
          name: downloads
        - mountPath: /config
          name: config
      volumes:
      - name: intermediate
        persistentVolumeClaim:          
          claimName: cachedir
      - name: downloads
        persistentVolumeClaim: 
          claimName: downloads
      - name: config
        persistentVolumeClaim:
          claimName: config
        





