apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: downloads
  namespace: nzbget
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 8Gi
  storageClassName: nfs-bind
  volumeMode: Filesystem
  volumeName: downloads
