apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config
  namespace: nzbget
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 256Mi
  storageClassName: nfs-durable
  volumeMode: Filesystem
  volumeName: config
