#cloud-config
#yaml-language-server: $schema=https://raw.githubusercontent.com/canonical/cloud-init/refs/heads/main/cloudinit/config/schemas/schema-network-config-v2.json
network:
  version: 2
  ethernets:
    id0:
      set-name: eth0
      addresses:
        - ${node_ip_address}/24
      nameservers:
        addresses: ['1.1.1.1', '4.4.4.4']
      routes:
        - to: default
          via: 192.168.64.1
          metric: 100