name: nas-vm
env:
  AWS_REGION: "ca-central-1"
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  PROXMOX_VE_API_TOKEN: ${{ vars.PM_API_TOKEN_ID }}=${{ secrets.PM_API_TOKEN_SECRET }}
  PROXMOX_VE_ENDPOINT: ${{ vars.PROXMOX_VE_ENDPOINT }}
  PROXMOX_VE_SSH_USERNAME: ${{ secrets.PROXMOX_SSH_USERNAME }}
  PROXMOX_VE_SSH_PASSWORD: ${{ secrets.PROXMOX_SSH_PASSWORD }}
  PROXMOX_VE_INSECURE: true
  TF_INPUT: 0
  TF_DATA_DIR: "/tf"
  TF_IN_AUTOMATION: "true"
  TF_VAR_proxmox_endpoint_uri: ${{ vars.PROXMOX_VE_ENDPOINT }}
  TF_VAR_target_proxmox_node_name: ${{ vars.PROXMOX_NODE }}
  TF_VAR_target_proxmox_node_ipaddr: ${{ vars.PROXMOX_NODE_IPADDR }}
  TF_VAR_iso_datastore: ${{ vars.ISO_DATASTORE }}
  TF_VAR_proxmox_node: ${{ vars.PROXMOX_NODE }}
  TF_VAR_default_ssh_pub_key: ${{ secrets.DEFAULT_PUB_KEY }}
  TF_VAR_argocd-ssh-private-key: ${{ secrets.ARGOCD_REGULUS_SSH_PRIVATE_KEY }}
  TF_VAR_repository-url: ssh://git@github.com/${{ github.repository }}
on:
  workflow_dispatch:
  push:
    branches: [ "build/nas/**", "validate/nas/**" ]
    paths:
      - 'base/builds/nas/**'
      - '.github/workflows/nas.yml'
jobs:
  na-build:
    name: "Build: NAS"
    if: contains(github.ref, 'build/nas')
    runs-on: self-hosted
    container:
      image: hashicorp/terraform:latest
      volumes:
        - nastf:/tf
    steps:
      - name: "Checkout Project"
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            ./.github
            base/builds/nas
      - run: terraform init
        shell: sh
        working-directory: base/builds/nas
      - run: terraform plan -out=/tf/nas.tfplan
        shell: sh
        working-directory: base/builds/nas
      - run: terraform apply -auto-approve --parallelism=1 /tf/nas.tfplan
        shell: sh
        working-directory: base/builds/nas